body { 
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px
}

p{
    font-family: sans-serif;
}
h1{
    font-family: sans-serif;
    text-align: center;
}
.name{
    padding-top: 25px;
    background-color: #19355b;
    top: 0;
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 40px;
    margin: 1px;
    margin-left: 20px;
    font-weight: bold;
}
.banner{
    background-color: #19355b;
    padding-bottom: 25px;
}
button{
    height: 50px;
    background-color: #e4b836;
    border: none;
    border-radius: 50px;
    font-family: sans-serif;
    font-size: 28px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 25px;
}
.buttons{
    margin-top: 25px;
    float: right;
}

.front-page{
    height: 1000px;

    background-image: url("olden_portfolio_img.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-style: solid;
    border-color: black;
}

.front-page-text{
    padding-top: 15%;
    text-align: center;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-shadow: 1px 1px #525252;
}


.projects-1{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;

}
.project-1{
    background-color: #e4b836;
    padding: 13%;
    margin-right: 5%;
    margin-left: 15%;
    border-radius: 6px;
    transition: 0.15s;
}
.project-1:hover{
    box-shadow: black 4px 4px 15px;
    padding: 14%;
    transition: 0.15s;
    background-image: url("pc_img.jpg");
    color: white;
}
.project-2{
    background-color: #e4b836;
    padding: 13%;
    margin-right: 15%;
    margin-left: 5%;
    border-radius: 6px;
    transition: 0.15s;

}
.project-2:hover{
    box-shadow: black 4px 4px 15px;
    padding: 14%;
    transition: 0.15s;
}
.projects-2{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;

}
.project-3{
    background-color: #e4b836;
    padding: 13%;
    margin-right: 5%;
    margin-left: 15%;
    border-radius: 6px;
    transition: 0.15s;
}
.project-3:hover{
    box-shadow: black 4px 4px 15px;
    padding: 14%;
    transition: 0.15s;
}
.project-4{
    background-color: #e4b836;
    padding: 13%;
    margin-right: 15%;
    margin-left: 5%;
    border-radius: 6px;
    transition: 0.15s;

}
.project-4:hover{
    box-shadow: black 4px 4px 15px;
    padding: 14%;
    transition: 0.15s;
}
.education-page{
    background-color: #19355b;
    
}
.education-title{
    color: white;
}
.college{
    color: black;
    font-family: sans-serif;
    float: left;
    padding-left: 20%;
    padding-right: 60%;
    padding-bottom: 30%;
    margin: 5%;
    border-style: solid;
    background-image: url("yeovil_college.jpg");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: left;
    border-radius: 50px;
    display: flex
}
.yeo-col-para{

    float: right;
}
