body { 
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px
}

p{
    font-family: sans-serif;
}

.name{
    padding-top: 25px;
    background-color: #19355b;
    top: 0;
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 40px;
    margin: 1px;
    margin-left: 20px;
}
.banner{
    background-color: #19355b;
    padding-bottom: 25px;
}
button{
    height: 50px;
    background-color: #e4b836;
    border: none;
    border-radius: 50px;
    font-family: sans-serif;
    font-size: 28px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 25px;
}
.buttons{
    margin-top: 25px;
    float: right;
}

.front-page{
    height: 1000px;

    background-image: url("olden_portfolio_img.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-style: solid;
    border-color: black;
}

.front-page-text{
    padding-top: 15%;
    text-align: center;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-shadow: 1px 1px #525252;
}
.projects-page{
    font-family: sans-serif;
    text-align: center;
}

.projects{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;

}

.project-1{
    background-color: #e4b836;
    padding: 13%;
    margin-right: 5%;
    margin-left: 5%;
}
.project-2{
    background-color: #e4b836;
    padding: 13%;
    margin-right: 5%;
    margin-left: 5%;
}
